body{
  background-color: #aed3f4;
  display: flex;
  align-content: center;
  justify-content: center;
  background-image: url(../pictures/images.jpeg);
  background-position: center;
}

.login{
  align-self: center;
  align-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  height: 400px;
  width: 300px;
  padding: 20px;
  border-radius: 7%;
}
.input input{
  height: 25px;
  border-radius: 40%;
border-color: antiquewhite;
text-align: center;
}

.login::before {
  content: "";
  position: absolute;
  /* top: 30%;
  left: 40%;
  right: 40%;
  bottom: 30%; */
  width: 350px;
  height: 380px;
  border: solid rgba(250, 128, 114, 0.41);
  background-color: #b55640f1;
  opacity: 0.9; /* Yarı saydamlık oranı */
  border-radius: 10px;
  z-index: -1; 
}

.input {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input input {
  height: 35px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid rgb(223, 192, 152);
  text-align: center;
  padding: 5px;
  font-size: 14px;
}

.sign button {
  padding: 10px 20px;
  border: none;
  background-color: #333;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
}

.sign{
  text-align: center
}

h1{
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
  text-align: center;
}